{% extends "base.html" %}
  {% block title %}
    Properties List
  {% endblock %}

  {% block content %}
    <h1>Properties</h1>
    {% if properties %}
      {% for property in properties %}
        <p>
          {{ property.title }}, {{ property.address }}, {{ property.type }}, {{ property.vale }}, {{ property.status }} <br/>
          <a href="{% url 'properties:detail' property.slug %}">See</a>
          <a href="{% url 'properties:update' property.slug %}">Edit</a>
          <a href="{% url 'companies:delete' property.slug %}">Delete</a>
        </p>
      {% endfor %}
    {% else %}
      There are no properties yet, please add one. By clicking <a href="{% url 'properties:create' %}">here</a>.
    {% endif %}
  {% endblock %}
